<h1> My To-Do List</h1>

<div>
    <span *ngIf="message">
        {{message}}
    </span>
</div>

<div class="container">
    <table class="table">
        <thead>

            <th> Description </th>
            <th> Target Date </th>
            <th> Done? </th>
            <th colspan="2" style="text-align: center"> Action </th>
        </thead>
        <tbody>
            <tr *ngFor='let todo of todos'>

                <td> {{todo.description}} </td>
                <td>{{todo.targetDate | date}}</td>
                <td>{{todo.done}}</td>
                <td> <button (click)="deleteTodo(todo.id)" class="btn btn-danger">Delete</button> </td>
                <td> <button (click)="updateTodo(todo.id)" class="btn btn-warning">Update</button></td>
            </tr>
        </tbody>
    </table>

    <div class="row">
            <button (click)="addTodo()" class="btn btn-success">Add New</button>
    </div>
</div>