<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="nav navbar-nav">
            <li><a *ngIf="basicAuthenticationService.isUserLoggedIn()" routerLink="/welcome/rajasi" class="nav-link">HOME</a></li>
            <li><a *ngIf="basicAuthenticationService.isUserLoggedIn()" routerLink="/list" class="nav-link">To-Do</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
                <li><a *ngIf="!basicAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">LOGIN</a></li>
                <li><a *ngIf="basicAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LOGOUT</a></li>
        </ul>

    </nav>
</header>
